<!DOCTYPE html>
<html>
    <link rel = "stylesheet" type="text/css" href = "./css/style.css">
    <head>
        <title>User Page</title>
    </head>
    <body>
        <div class="contents">
            사용자 페이지 입니다. 아래에서 결제 정보를 확인해보세요!
        </div>
    </body>
</html>